.giveaway {
    &-container {
        background-color: var(--dark);
        padding: 5rem 0;
    }
    &-img {
        min-height: 21rem;
        @media only screen and (max-width: 36rem){
            max-height: 5rem;
        }
    }
    &-title, &-name {
        color: var(--light);
        text-align: center;
    }
    &-title {
        font-size: 3rem;
        font-weight: var(--bold);
        @media only screen and (max-width: 36rem){
            font-size: 2rem;
        }
    }
    &-name {
        font-size: 1.3rem;
        line-height: 1rem;
    }
    &-deadline {
        padding: 1rem 0;
        margin: 1rem 0 2rem 0;
        border-top: 2px solid var(--gray);
        border-bottom: 2px solid var(--gray);
        
        &-format {
            & p {
                font-size: 3rem;
                color: var(--light);
                text-align: center;
                @media only screen and (max-width: 36rem){
                    font-size: 2rem;
                }
            }
            & span {
                color: var(--light);
                display: flex;
                justify-content: center;
            }
        }
    }
}