.navbar-second {
    background-color: var(--lightDark);
    a, a:hover {
        color: var(--light);
    }
    .nav-icons{
        float: right;
    }

    @media only screen and (min-width: 36rem){
        .mobile-menu{
            display: none;
        }
        .logo-mobile {
            display: none;
        }
        .fa-user {
            font-size: 1.5rem;
        }
        .fa-shopping-bag {
            font-size: 1.5rem;
        }

    }
    @media only screen and (max-width: 36rem){
        .searchbar{
            display: none;
        }
        .logo {
            display: none;
        }
        .fa-user {
            font-size: 1.2rem;
        }
        .fa-shopping-bag {
            font-size: 1.2rem;
        }
        .fa-bars {
            font-size: 1.2rem;
        }
    }

}

.navbar-main {
    background-color: var(--blue);
    a, a:hover {
        color: var(--light);
    }
    .nav-link {
        padding: 0 0 0 2rem;
        color: var(--light);
    }
    @media only screen and (max-width: 36rem){
        &{
            display: none;
        }
    }
}
