.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--dark);
    transform: translate(-100%);
    z-index: 3000;
    padding: 0;
    a, a:hover {
        color: var(--light);
    }
    &-header{
        padding: 0 1rem;
        &-img {
            width: 9rem;
        }
        &-close {
            float: right;
            line-height: 4rem;
            padding-right: 1rem;
        }
    }
    &-body{
        &-item{
            &:hover {
                background-color: var(--lightDark);
            }
            &-link {
                display: block;
                padding: 0.5rem 1rem;
                &-chevron {
                    float: right;
                    margin-right: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
        &-title {
            color:var(--light);
            font-size: 1.5rem;
        }
    }
}

.show-sidebar {
    transform: translate(0);
}