:root {
    --blue: hsla(201, 77%, 24%, 1);
    --lightGray: hsla(0, 0%, 82%, 1);
    --gray: hsla(0, 0%, 20%, 1);
    --lightDark: hsla(210, 11%, 15%, 1);
    --dark: hsla(0, 0%, 11%, 1);
    --light: hsla(0, 0%, 100%, 1);
    --darkLight: hsla(220, 11%, 95%, 1);
    --shadow: hsla(0, 0%, 93%, 1);
    --gold: hsla(47, 100%, 55%, 1);
    --red: hsla(356, 95%, 46%, 1);
}