:root {
    --blue: hsla(201, 77%, 24%, 1);
    --gray: hsla(0, 0%, 20%, 1);
    --lightDark: hsla(210, 11%, 15%, 1);
    --dark: hsla(0, 0%, 11%, 1);
    --light: hsla(0, 0%, 100%, 1);
    --darkLight: hsla(220, 11%, 95%, 1);
    
}